---
import Analytics from "@vercel/analytics/astro";
import Head from "@/components/Head.astro";

interface Props {
	title: string;
	description: string;
	domain?: string;
	lang?: string;
}

const { title, description, lang = Astro.currentLocale || "en" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<Head
		title={title}
		description={description}
	/>

	<body
		class='relative h-dvh overflow-x-hidden overflow-y-auto bg-zinc-50 font-sans text-black antialiased selection:bg-zinc-300 selection:text-zinc-900 dark:bg-zinc-900 dark:text-white dark:selection:bg-zinc-700 dark:selection:text-zinc-50'>
		<slot />
		<Analytics />
	</body>
</html>
